Define a function that accepts a number and returns whether the number is even or odd.

In [2]:
def even_odd(num):
  if num % 2 == 0:
    print("Number is even")
  else:
    print("Number is odd")

In [3]:
even_odd(5)

Number is odd

Define a function to create and print a list where the values are square of numbers between 1 and 30 (both included).

In [4]:
def square_list():
  list = []
  for i in range(1,31):
    list.append(i**2)
  print(list)

In [5]:
square_list()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

Define a function, shut_down, that takes one parameter. Then, if the shut_down function receives a value equal to "yes", it should print "Shutting down". Alternatively, if vallue is equal to "no", then the function should print "Shutdown aborted". Finally, if shut_down gets anything other than those inputs, the function should print "Sorry".

In [6]:
def shut_down(value):
  if value == "yes":
    print("Shutting down")
  elif value == "no":
    print("Shutdown aborted")
  else:
    print("Sorry")

In [7]:
shut_down("yes")

Shutting down



Define a function called "by_three" that takes a parameter called number. If that number is divisible by 3, "by_three" should print the cube of the number. Otherwise, by_three should print False.

In [8]:
def by_three(number):
  if number % 3 == 0:
    print(number**3)
  else:
    print(False)

In [9]:
by_three(5)

False

Define a function that takes a list and prints a new list with no duplicate elements given in the first list.

In [10]:
def no_duplicate(list):
  new_list = []
  for i in list:
    if i not in new_list:
      new_list.append(i)
  print(new_list)

In [12]:
no_duplicate([1,3,4,5,2,3,1,5,])

[1, 3, 4, 5, 2]