In [ ]:
a=5
print(a)

5

In [ ]:
a=5
b=3
print(a+b)

8

In [ ]:
a,b=5,3
print(a//b)

1

In [ ]:
a,b=5,3
print(a%b)

2

In [ ]:
a=7
b=4
print(a/b)

1.75

In [ ]:
a=5
b=6
print

In [ ]:
n=int(input("Enter n value "))
if(n>0):
  print("+ve")
else:
  print("-ve")

+ve

In [ ]:
a=int(input("Enter value of a "))
b=int(input("Enter value of b "))
c=int(input("Enter value of c "))
if(a>b):
  if(a>c):
    print("a is greater")
  else:
    print("c is greater")
elif(b>c):
  print("b is greater")
else:
  print("c is greater")

In [ ]:
numbers = [20, 50, 5]
smallest = min(numbers)
print(f"The smallest number is: {smallest}")

In [ ]:
a=int(input("Enter value of a "))
b=int(input("Enter value of b "))
if(a==b):
    print("Both are equal")
elif(a>b):
  print("a is greater than b")
else:
  print("a is less b")

In [ ]:
#Print 'N' natural numbers
n=int(input("Enter the number "))
i=0
while(i<n):
  print(i)
  i=i+1
print("End of the loop")

In [ ]:
n=int(input("Enter the number "))
for i in range(0,n,1):
  print(i)
print("End of the loop")

In [ ]:
i=1
while i<=10:
  print(i)
  if i==5:
    break
  i=i+1
print("Loop terminates")

In [ ]:
for i in range(1,20,2):
  print(i)
  if(i==10):
    break
print("Loop terminates")

In [ ]:
i = 0
while i < 10:
    i += 1
    if i % 3 == 0:
        continue
    print(i)

In [ ]:
for i in range(0,10,1):
  if(i%3)==0:
    continue
  print(i)

In [ ]:
seq=[10,20,30,40,50]
print(seq[-1])

In [ ]:
seq=[10,20,30,40,50]
print(seq[1:3])

In [ ]:
seq=[10,20,30,40,50]
print(seq[1:])

In [ ]:
seq=[10,20,30,40,50]
seq.append(60)
print(seq)

In [ ]:
seq=[10,20,30,40,50]
seq[1]=60
print(seq)

In [ ]:
seq=[10,20,30,40,50]
del seq[1]
print(seq)

In [ ]:
#List in built methods
#Return a value but doesnt change the list
seq=[10,20,30,40,50]
seq.count(20)

In [ ]:
seq=[10,20,30,40,50]
seq.append(60)
print(seq)

In [ ]:
seq=[10,20,30,40,50,40]
seq.count(40)

In [ ]:
seq=[10,20,30,40,50,40]
seq.index(40)

In [ ]:
seq=[10,20,30,40,50,40]
seq.index(40,4)

In [ ]:
#Doesnt return any value but change the list
#Extend is used to add more than one value in to the list
seq=[10,20,30,40,50]
seq.extend([60,70,80])
print(seq)

In [ ]:
#insert is used to add insert
seq=[10,20,30,40,50]
seq.insert(3,60)
print(seq)

In [ ]:
#Remove value from the list
seq=[10,20,30,60,40,50]
seq.remove(60)
print(seq)

In [ ]:
#Reverse of the list
seq=[10,20,30,40,50]
seq.reverse()
print(seq)

In [ ]:
#SORT is used to sort given element of the list
seq=[10,20,30,10,40,50,10,20]
seq.sort()
print(seq)

In [ ]:
#POP removes last element of the list
seq=[10,20,30,40,50,60]
seq.pop()
print(seq)

In [ ]:
#Length of the list
len(seq)

In [ ]:
seq=input()

In [ ]:
seq=input().split()
print(seq)

In [ ]:
square=[i**2 for i in range(1,6,1)]
print(square)

In [ ]:
List1=[1,2,3]
List2=[4,5,6]
Pair=[(x,y) for x in List1 for y in List2 if x!=y]
print(Pair)

In [ ]:
import math

# Calculate the ceil value of 5.3
print(math.ceil(5.3))

# Calculate the square root of 16
print(math.sqrt(16))

# Calculate the power of 2 raised to the 3rd power
print(math.pow(2, 3))

# Calculate the largest of 3, 5, and 7
print(max(3, 5, 7))

# Calculate the smallest of 3, 5, and 7
print(min(3, 5, 7))

# Round 3.14159 to 2 decimal places
print(round(3.14159, 2))

# Calculate the floor value of 5.3
print(math.floor(5.3))

# Display value of pi
print(math.pi)

#Display value of exponent
print(math.e)

In [ ]:
Emp={"Name":"Bob","Age":39,"Salary":35000,"City":"New York"}
print(Emp)

In [ ]:
Emp["Designation"]="Software Engineer"
print(Emp)

In [ ]:
print(Emp["Salary"])

In [ ]:
Emp["Salary"]=55000
print(Emp["Salary"])

Conditional Statements:
If
If else
if elif else
Nested if

In [ ]:
a=int(input("Enter 1st number "))
b=int(input("Enter 2nd number "))
if a>b:
	print("A is greater than B")
else:
	print("B is greater than A")

In [ ]:
age=int(input("Enter the age "))
if age>=18:
  print("Candidate is eligible for voting")
else:
  print("Candidate is not eligible for voting")

In [ ]:
marks=int(input("Enter the marks:"))
if(marks>=90):
  print("Grade A")
elif(marks>=80):
  print("Grade B")
elif(marks>=70):
  print("Grade C")
elif(marks>=60):
  print("Grade D")
else:
  print("Study Hard")

In [ ]:
age=int(input("Enter the age:"))
if(age<4):
  print("Entry is free")
elif(age>=4&age<=16):
  print("Entry fee is 100rs")
else:
  print("Entry fee is 175rs")

In [ ]:
num=int(input("Enter the num "))
if(num%2==0):
  print("Number is even")
else:
  print("Number is odd")

In [ ]:
num=int(input("Enter the num "))
if(num%2!=0):
  print("Number is odd")
else:
  print("Number is even")

In [ ]:
sal=int(input("Enter the salary: "))
exp=int(input("Enter years of experince:"))
if(exp>=5):
  sal=sal+sal*5/100
  print("Salary:",sal)

In [ ]:
num=int(input("Enter the number:"))
if num>=0:
  if num>0:
    print("Num is +ve")
  else:
    print("Num is equal to 0")
else:
  print("No is negative")

Enter the number:0
Num is equal to 0

For Loop Examples

In [ ]:
fruits=['Apple','Mango','Banana','Kiwi','Grapes']
for i in fruits:
  print(i)

Apple
Mango
Banana
Kiwi
Grapes

In [ ]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [ ]:
for i in range(0,10,3):
  print(i)

0
3
6
9

In [ ]:
Num=[1,2,3,4,5,6,7,8,9,10]
for i in Num:
  if i%2==0:
    print(i,end=' ')

2 4 6 8 10

In [ ]:
Num=[1,2,3,4,5,6,7,8,9,10]
for i in Num:
  if i%2!=0:
    print(i,end=' ')

1 3 5 7 9

While Loop examples

In [ ]:
a=1
while a<=20:
  if a%2==0:
    print(a,end=' ')
  a=a+1

2 4 6 8 10 12 14 16 18 20

Functions

In [ ]:
def employee(name,age,salary,city):
  print("Name:",name)
  print("Age:",age)
  print("Salary:",salary)
  print("City:",city)

name = input("Enter Name: ")
age = input("Enter Age: ")
salary = input("Enter Salary: ")
city = input("Enter City: ")
employee(name,age,salary,city)

Enter Name: Pratiksha
Enter Age: 32
Enter Salary: 100000
Enter City: Pune
Name: Pratiksha
Age: 32
Salary: 100000
City: Pune