Types of arguments:
1. Positional Arguments
2. Default Arguments
3. Arbitary Arguments
4. Keywords arguments
5. Arbitary keywords arguments

Positional Arguments

In [4]:
def name(firstname,lastname):
    print("Your first name is ",firstname,"And last name is ",lastname)

In [5]:
name("Pratiksha","Suryawanshi")

Your first name is  Pratiksha And last name is  Suryawanshi

Default Arguments

In [15]:
def greet(name,message="Good Morning"):
    print(message,name)

In [16]:
greet("Pratiksha")

Good Morning Pratiksha

In [17]:
greet("Pratiksha","Hi how r u?")

Hi how r u? Pratiksha

In [18]:
def employee(name,salary=90000):
    print(name,"-->",salary)

In [21]:
employee("Pratiksha")

Pratiksha --> 90000

In [22]:
employee("Pratiksha",80000)

Pratiksha --> 80000

Keyword Arguments

In [23]:
def greet(name,age,message):
  print(message,name,"Your age is ",age)

In [25]:
greet("Pratiksha",21,"Hi how r u?")

Hi how r u? Pratiksha Your age is  21

In [27]:
greet(message="Hi good evening",name="pratiksha",age=21)

Hi good evening pratiksha Your age is  21

Arbitary agruments: represented as **args
defualt type is tuple

In [28]:
def function(a,b,*args):#syntax of arbitary argument
    print(a)
    print(b)
    print(args)

In [30]:
function(5,7,567890)

5
7
(567890,)

In [31]:
def display(*args):
    print(type(args))
    print(args)

    sum=0
    for i in args:
        sum=sum+i
    print("Sum is ",sum)

In [33]:
display(23,45,345,777)

<class 'tuple'>
(23, 45, 345, 777)
Sum is  1190

Arbitary keyword arguments: it is represented as **kwargs.
default type is Dictionary

In [ ]:
def display(**kwargs):
    print(type(kwargs))
    print(kwargs)

    for key,value in kwargs.items():
        print(key,"-->",value)

In [ ]:
display(Name="Pratiksha",Address="Pune",Age="99")

<class 'dict'>
{'Name': 'Pratiksha', 'Address': 'Pune', 'Age': '99'}
Name --> Pratiksha
Address --> Pune
Age --> 99